<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{website_name}} Reset Password Confirmation</title>
</head>
<body>
    <div>
        Hello, {{realname}} or {{username}} in {{website_name}} system! You see this email because someone
        (you or maybe other person) are attempting to reset your account's password. If the operation was not
        acted by you, please ignore this email; otherwise, click the linkage below
        to continue resetting password.
    </div>
    <div>
        <a href={{link}}>click here to continue</a>
    </div>
</body>
</html>
